.artCanvas {
  /* position: relative;
  background: #f10377;
  flex: 1; */
  position: absolute;
  /* background: #f10377; */
  flex: 1 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: 0; */
}
.shape {
  padding: 50px;
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 3;
}
.shape:hover {
  transition: all .5s ease-in !important;
  transform: scale(1.2) translate(-3px, -3px) !important;
}
.shape:hover img {
  opacity: .9 !important;
}
.shape img {
  transition: all .5s ease-in !important;

  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  
  animation:pop-in 0.5s forwards;
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: .5; transform: scale(1); }
}